body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ef5b25;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-size: 32px;
}

p {
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 18px;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

.text-box {
  width: 500px;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

textarea {
  height: 300px;
  resize: none;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.character-count {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.submit-button {
  position: relative;
  background-color: #ef5b25;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.submit-button-text {
  transition: all 0.2s;
}

.submit-button:disabled {
  background-color: #ef5b25;
  opacity: 0.6;
}

.submit-button--loading .submit-button-text {
  visibility: hidden;
  opacity: 0;
}

.submit-button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}


#right-socials {
  position: absolute;
  right: 1em;
  height: 150px;
  width: 70px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  top: 50%;
  transform: translateY(-50%);
}

#right-socials a i {
  transition: scale .3s ease-in-out;
}

#right-socials a i#github-link:hover,
i#linkedin-link:hover {
  scale: 1.1;
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #right-socials{
      position: absolute;
      /* top: 87%; */
      bottom: 10px;
      height: 70px;
      width: 150px;
      /* z-index: 2; */
      /* display: flex; */
      flex-direction: row;
      /* justify-content: center; */
      /* align-items: center; */
      /* justify-content: space-around; */
      left: 50%;
      transform: translateX(-50%);
      /* border: 1px solid red; */
  }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}